<div class="card">
    <div class="card-header">
        <h2 class="text-center">{{ title }}</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let movie of movies"
         routerLink="/detail/{{movie.id}}">
            <span class="badge badge-primary badge-md"> {{movie.id}} </span> {{movie.name}}
            <span (click)="delete(movie)" class="close">x</span>
        </li>
    </ul>
</div>

<div class="card">
    <div class="card-header">
        <h2 class="text-center">Add New Movie</h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input #name type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="imageUrl">ImageUrl</label>
            <input #imageUrl type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input #description type="text" class="form-control">
        </div>

        <div class="form-group">
            <button (click)="add(name.value, imageUrl.value, description.value); name.value = ''; description.value = ''; imageUrl.value = '';" 
            class="btn btn-outline-success form-control" type="button">Add Movie</button>
        </div>
    </div>
</div>
